html, body {
  margin: 0;
  padding: 0;
}

#stage {
  position: relative;
  width: 100%; height: 100vh;
}


/*******************************************************************************************
 * animation
 *******************************************************************************************/


/*******************************************************************************************
 * keyframes
 *******************************************************************************************/
