html, body {
  margin: 0;
  padding: 0;
}

#slider {
  position: absolute;
  top: calc(50% - 150px); left: calc(50% - 250px);
  width: 500px; height: 300px;
}

.img {
  position: absolute;
  top: 0; left: 0;
  width: 0%; height: 100%;
  overflow: hidden;
}
.img:after {
  content: ""; display: block;
  width: 500px; height: 300px;
  background-size: cover;
  background-position: center;
}
.img:nth-child(1):after { background-image: url(./images/1.png); }
.img:nth-child(2):after { background-image: url(./images/2.png); }
.img:nth-child(3):after { background-image: url(./images/3.png); }
.img:nth-child(4):after { background-image: url(./images/4.png); }

.paint {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
.paint div {
  width: 100%; height: 25%;
  background-color: #fff;
  transform: translateX(-100%);
}


/***************************************************************************************
 * animation
 ***************************************************************************************/
.img:nth-child(1) { animation: show-image 0.7s ease 0.5s forwards; }
.img:nth-child(2) { animation: show-image 0.7s ease 0.7s forwards; }
.img:nth-child(3) { animation: show-image 0.7s ease 0.9s forwards; }
.img:nth-child(4) { animation: show-image 0.7s ease 1.1s forwards; }

.paint div:nth-child(1) { animation: slide-right 0.45s ease 1.6s forwards; }
.paint div:nth-child(2) { animation: slide-right 0.45s ease 1.7s forwards; }
.paint div:nth-child(3) { animation: slide-right 0.45s ease 1.8s forwards; }
.paint div:nth-child(4) { animation: slide-right 0.45s ease 1.9s forwards; }

/***************************************************************************************
 * keyframes
 ***************************************************************************************/
@keyframes show-image {
  from { width: 0; }
  to   { width: 100%; }
}
@keyframes slide-right {
  from { transform: translateX(-100%); }
  to   { transform: translateX(0%); }
}
